* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

video {
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: -1;
}

header {
    display: flex;
    font-size: 20px;
    padding: 10px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.logo {

    text-decoration: none;
    font-size: 35px;
    color: #455F9E;
    font-weight: 600;
}

li {

    display: inline-flex;
}

li a {

    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-right: 25px;
}

li a:hover {
    color: #455F9E;
    cursor: pointer;
}

.header-btn {
    background-color: transparent;
    color: aliceblue;
    font-size: 15px;
    margin-right: 12px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 9px #F8F9FD;
    border-color: #455F9E;
}

.header-btn:hover {
    color: #455F9E;
    cursor: pointer;
}

.container {
    backdrop-filter: blur(7px);
    max-width: 350px;
    background: #F8F9FD;
    background: transparent;
    border-radius: 40px;
    padding: 25px 35px;
    border: 2px solid #455F9E;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    margin: 7%;
    margin-left: 38%;
}

.heading {

    font-weight: 600;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: white;
}

.form {
    margin-top: 20px;
}

.form .input {
    font-size: 18px;
    color: #cff0ff;
    width: 100%;
    background: transparent;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
}

.form .input::placeholder {
    color: rgb(170, 170, 170);
}

.form .input:focus {
    outline: none;
    border-inline: 2px solid #455F9E;
}

.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 11px;
    color: white;
    text-decoration: none;
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, #2C3562 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
    margin-top: 25px;
}

.social-account-container .title {
    display: block;
    text-align: center;
    font-size: 12px;
    color: white;
}

.social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid #2C3562;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
}

.agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.agreement a {
    text-decoration: none;
    color: white;
    font-size: 9px;
}